<div class="lds-css ng-scope">
<div class="lds-spin" style="100%;height:100%"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
<style type="text/css">@keyframes lds-spin {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes lds-spin {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.lds-spin {
  position: relative;
}
.lds-spin div > div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #d9d9d9;
  -webkit-animation: lds-spin 1.2s linear infinite;
  animation: lds-spin 1.2s linear infinite;
}
.lds-spin div:nth-child(1) > div {
  left: 148px;
  top: 88px;
  -webkit-animation-delay: -1.08s;
  animation-delay: -1.08s;
}
.lds-spin > div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 160px 100px;
  transform-origin: 160px 100px;
}
.lds-spin div:nth-child(2) > div {
  left: 136.54101964px;
  top: 123.26711512px;
  -webkit-animation-delay: -0.96s;
  animation-delay: -0.96s;
}
.lds-spin > div:nth-child(2) {
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
  -webkit-transform-origin: 148.54101964px 135.26711512px;
  transform-origin: 148.54101964px 135.26711512px;
}
.lds-spin div:nth-child(3) > div {
  left: 106.54101964px;
  top: 145.06339096px;
  -webkit-animation-delay: -0.84s;
  animation-delay: -0.84s;
}
.lds-spin > div:nth-child(3) {
  -webkit-transform: rotate(72deg);
  transform: rotate(72deg);
  -webkit-transform-origin: 118.54101964px 157.06339096px;
  transform-origin: 118.54101964px 157.06339096px;
}
.lds-spin div:nth-child(4) > div {
  left: 69.45898036px;
  top: 145.06339096px;
  -webkit-animation-delay: -0.72s;
  animation-delay: -0.72s;
}
.lds-spin > div:nth-child(4) {
  -webkit-transform: rotate(108deg);
  transform: rotate(108deg);
  -webkit-transform-origin: 81.45898036px 157.06339096px;
  transform-origin: 81.45898036px 157.06339096px;
}
.lds-spin div:nth-child(5) > div {
  left: 39.45898036px;
  top: 123.26711512px;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.lds-spin > div:nth-child(5) {
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg);
  -webkit-transform-origin: 51.45898036px 135.26711512px;
  transform-origin: 51.45898036px 135.26711512px;
}
.lds-spin div:nth-child(6) > div {
  left: 28px;
  top: 88px;
  -webkit-animation-delay: -0.48s;
  animation-delay: -0.48s;
}
.lds-spin > div:nth-child(6) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: 40px 100px;
  transform-origin: 40px 100px;
}
.lds-spin div:nth-child(7) > div {
  left: 39.45898036px;
  top: 52.73288488px;
  -webkit-animation-delay: -0.36s;
  animation-delay: -0.36s;
}
.lds-spin > div:nth-child(7) {
  -webkit-transform: rotate(216deg);
  transform: rotate(216deg);
  -webkit-transform-origin: 51.45898036px 64.73288488px;
  transform-origin: 51.45898036px 64.73288488px;
}
.lds-spin div:nth-child(8) > div {
  left: 69.45898036px;
  top: 30.93660904px;
  -webkit-animation-delay: -0.24s;
  animation-delay: -0.24s;
}
.lds-spin > div:nth-child(8) {
  -webkit-transform: rotate(252deg);
  transform: rotate(252deg);
  -webkit-transform-origin: 81.45898036px 42.93660904px;
  transform-origin: 81.45898036px 42.93660904px;
}
.lds-spin div:nth-child(9) > div {
  left: 106.54101964px;
  top: 30.93660904px;
  -webkit-animation-delay: -0.12s;
  animation-delay: -0.12s;
}
.lds-spin > div:nth-child(9) {
  -webkit-transform: rotate(288deg);
  transform: rotate(288deg);
  -webkit-transform-origin: 118.54101964px 42.93660904px;
  transform-origin: 118.54101964px 42.93660904px;
}
.lds-spin div:nth-child(10) > div {
  left: 136.54101964px;
  top: 52.73288488px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spin > div:nth-child(10) {
  -webkit-transform: rotate(324deg);
  transform: rotate(324deg);
  -webkit-transform-origin: 148.54101964px 64.73288488px;
  transform-origin: 148.54101964px 64.73288488px;
}
.lds-spin div:nth-child(11) > div {
  left: 148px;
  top: 88px;
  -webkit-animation-delay: 0.12s;
  animation-delay: 0.12s;
}
.lds-spin > div:nth-child(11) {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transform-origin: 160px 100px;
  transform-origin: 160px 100px;
}
.lds-spin {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
</style></div>